/*==================================
        MEJORAS VISUALES
==================================*/

body{
    line-height: 1.6;
    overflow-x: hidden;
}
/* Todas las imágenes serán responsive */

img{
    max-width: 100%;
    height: auto;
}


/*==================================
            MENÚ
==================================*/

.menu li a{
    transition: 0.3s;
}


/*==================================
            EVENTOS
==================================*/

.eventos{
    flex-wrap: wrap;
    padding: 60px 40px;
}


.evento{
    transition: 0.4s;
}


.evento:hover{
    transform: scale(1.05);
}


/*==================================
        PRESENTACIÓN
==================================*/

.presentacion_texto p{
    line-height: 1.7;
}


.presentacion_imagen{
    transition: 0.4s;
}


.presentacion_imagen:hover{
    transform: scale(1.03);
}


/*==================================
            FOOTER
==================================*/

.footer_derechos{
    text-align: center;
    margin-top: 15px;
}


/*==================================
            RESPONSIVE
==================================*/

@media(max-width:1024px){

    .info_inicio{

        gap: 50px;
        padding: 50px;

    }


    .presentacion_texto h2{

        font-size: 45px;

    }


    .evento{

        width: 500px;

    }

}


/*==================================
        TABLETS Y MÓVILES
==================================*/

@media(max-width:768px){

    header{

        flex-direction: column;
        gap: 20px;
        text-align: center;

    }


    .menu{

        flex-direction: column;
        gap: 10px;

    }


    .logo_lema{

        flex-direction: column;

    }


    .info_inicio{

        flex-direction: column;
        padding: 40px;

    }


    .eventos{

        flex-direction: column;
        align-items: center;

    }


    footer{

        flex-direction: column;
        gap: 30px;
        text-align: center;

    }


    .footer_contacto{

        text-align: center;

    }


    .footer_redes{

        justify-content: center;

    }

}


/*==================================
            CELULARES
==================================*/

@media(max-width:480px){

    .presentacion_texto h2{

        font-size: 35px;

    }


    .presentacion_texto p{

        font-size: 17px;

    }


    .evento{

        width: 100%;

    }


    .evento img{

        width: 220px;
        height: 220px;

    }


    .contenedor_slider{

        height: 300px;

    }


    .slider img{

        height: 300px;

    }

}
/* -----------
--------------
--------------
---ANIMACIÓN 1---- */

@keyframes moverBanner{
0%,15%{
transform:translateX(0);
}
20%,35%{
transform:translateX(-100%);
}
40%,55%{
transform:translateX(-200%);
}
60%,75%{
transform:translateX(-300%);
}
80%,95%{
transform:translateX(-400%);
}
100%{
transform:translateX(0);
}
}

/* -----------
--------------
--------------
---ANIMACIÓN 2 ---- */
@keyframes aparecerDerecha{   /* Sirve para crear una animación personalizada */
    from{                     /* Indica como inicia */
        opacity: 0;           /* Controla la transparencia (invisible) */
        transform: translateX(200px);      /* Mueve elementos horizontalemente (Empieza en 200 pixeles más a la derecha)*/
    }

    to{                       /* Indica como termina */
        opacity: 1;           /* Controla la transparencia (visible) */
        transform: translateX(0);          /* Mueve elementos horizontalemente (Termina en su posición normal)*/
    }
}