h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 1.1;     /* separa las líneas */
    color:#0a2f63;
}

.contenedor_contacto{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:80px;
    padding:40px 80px;
}

.informacion_contacto{
    flex:1;
}

.informacion_contacto h2{
    text-align:center;
    color:#0a2f63;
    margin-bottom:25px;
}

.informacion_contacto p{
    text-align:justify;
    line-height:1.8;
    margin-bottom:30px;
}

.l_contacto{
    margin-bottom:40px;
}

.l_contacto li{
    display:flex;
    align-items:center;
    gap:10px;
    margin:15px 0;
}

.mapa iframe{
    width:100%;
    height:350px;
    border:none;
    border-radius:15px;
}

.formulario{
    flex:1.2;
}

.formulario form{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.fila{
    display:flex;
    gap:30px;
}

.fila input{
    flex:1;
    padding:18px;
    font-size:20px;
    border:2px solid #d8ccbb;
    border-radius:5px;
}

.fila_programa{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    border:none;
    padding:0;
    margin:0;
}

.fila_programa legend{
    font-weight:normal;
    padding:0;
}

.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0 0 0 0);
    white-space:nowrap;
    border:0;
}

.opciones{
    display:flex;
    flex-direction:column;
    gap:10px;
}

textarea{
    width:100%;
    height:140px;
    padding:20px;
    font-size:20px;
    border:2px solid #d8ccbb;
    border-radius:5px;
    resize:none;
}

.botones{
    display:flex;
    justify-content:space-between;
}

.botones button{
    width:180px;
    padding:15px;
    font-size:22px;
    cursor:pointer;
    border:none;
    border-radius:5px;
    background:#d8ccbb;
}