h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
    line-height: 1.1;     /* separa las líneas */
    color:#0a2f63;
}

.noticias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px; 
    padding: 40px;
    max-width: 1500px;
    justify-content: center;
    margin: auto;
}

.noticia{
    width: 100%;
    min-height: 600px;            /* Hace que todas tengan la misma altura */
    padding: 20px;
    border: 1px solid #d8ccbb;
    border-radius: 12px; /* esquinas redondeadas*/
    background-color: #ffffff; /* fondo blanco */
    box-shadow: 0 2px 8px #d3c7b5; /* sombra suave*/
    text-align: center;   /* centra el contenido de la tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia h2{
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:20px;
    color:#2e5597;
    font-size:22px;
}

.noticia p{
    font-size: 16px;
    line-height: 1.6;
}

.noticia img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: contain;  /*ajusta la imagen para que quepa dentro de su contenedor mostrándose completa y sin deformarse*/
}

.inicio:hover{
    background-color: rgb(194, 206, 254);
}

.noticia:hover{
    transform: scale(1.05);
}

time{
    color: #2e5597;
    font-style: oblique;
    font-size: 20px;
}
/* Hace que la primera noticia ocupe las 3 columnas del grid */
.noticia.inicio:first-child {
    grid-column: 1 / -1;
    flex-direction: row; /* Pone la imagen al lado del texto */
    align-items: center;
    text-align: left;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.noticia.inicio:first-child img {
    width: 400px;
    height: 300px;
    margin-right: 30px;
}